// ONLY USABLE WITH NETWORKS WITH IPV6 ENABLED
SUPABASE_DB_URL=postgresql://username:password@localhost:5432/gbif_ingest_db

// IF YOUR NETWORK ONLY HAS IPV4 SUPPORT
SUPABASE_DB_URL=postgresql://postgres.zedliuvmrthdvnhiiywd:YOUR_PASSWORD@aws-1-eu-west-1.pooler.supabase.com:6543/postgres